$logo-height = 36px
$logo-width = 126px

header 
	width 100%
	text-align center
	position absolute
	top 1em
	right 0
	z-index set-index('overlay')
	+mq('bp-made')
		right 1em	
		text-align right
	.logo
		display inline-block
		height $logo-height
		clearfix()
		.logo__part
			display inline-block
			float left
			line-height $logo-height
			margin 0
			padding 0 2px
			font-size 10px
			font-weight 500
			color darken($gray, 10)
		.logo__polygraph 
			width $logo-width
			height $logo-height
			fill $off-black
			fill $off-white