$logo-size = 36px

header 
	position absolute
	top 1em
	left 1em
	text-align center
	z-index set-index('overlay')
	+mq('bp-made')
		left auto
		right 1em	
		text-align right
	a.logo
		clearfix()
		border-bottom none
		display block
		.logo__text
			text-transform uppercase
			color white
			display inline-block
			float left
			text-align left
			line-height 1
			margin 0
			padding 0
			line-height 18px
			font-size 14px
			margin-left 14px
			vertical-align baseline
			// line-height $logo-size
			// margin 0
			// padding 0 2px
			// font-size 10px
			// font-weight 500
			// color darken($gray, 10)
		.logo__svg 
			width $logo-size
			height $logo-size
			fill white
			float left
			