header
	z-index set-index('overlay')
	margin 1rem auto
	max-width 25rem
	width 100%
	padding 1rem
	// position absolute
	// top 0
	// left 0
	

	a.logo
		display block
		border none
		max-width 10rem
		margin 0 auto

		svg
			fill $off-white
			display block
			width 100%