// -------------------
// Breakpoints
// -------------------
$mq_vars = {
    bp-1: '(min-width: 25em)'
    bp-2: '(min-width: 40em)'
    bp-3: '(min-width: 50em)'
    bp-4: '(min-width: 60em)'
}

// -------------------
// Typefaces
// -------------------
$sans = Helvetica, Arial, sans-serif
$sans-cond = Impact, Arial Narrow, Helvetica, sans-serif
$serif = Georgia, Times, serif

$z-index = {
    bottom: -100
    middle: 0
    top: 100
    overlay: 3000
}

// Color
$off-black = #2a2a2a
$gray-dark = #666
$gray = #999
$gray-light = #ccc
$off-white = #efefef

$text-width = 40rem


// wired-sam-chivers-preview-opt.jpg
$c1 = #262C32
$c2 = #F2929D
$c3 = #1C5D71
// $c1 = #7C978D
// $c1 = #7B744E
// $c1 = #E1C9C6

// Jimmy-Hendrix-preview-opt.jpg
// #8FC8B0
// $c1 = #4D4E35
// #7C9F5F
// #E4B093
// #BF5F61

// 137-Second-Avenue-preview-opt.jpg
// $c1 = #A43943
// $c2 = #8E2A36
// $c3 = #77A38A
 // $c1 = #353A33

// epoch-big-500-opt.jpg
// $c1 = #1C1922
// #D83D1F
// $c1 = #E2E5D4
// #0891C1


// Internet-Tarot-big-500-opt.jpg
// $c1 = #FFD646
// $c2 = #11110D
// #C6D5A9
// $c1 = #FAEED2

// #47462F
// #708073
// #BCB244
// #E6A922
// $c1 = #D83B1B


$c1 = #000
$c2 = #fff