<!doctype html>
<html lang='en' data-version='{{timestamp}}'>
<head>
	{{> base/meta}}
	
	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->
	
	{{> base/font}}
	
	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{!-- {{> base/analytics }} --}}
</head>
<body class='tk-whitney'>
	{{> base/header }}

	<div class='container'>
		<div class='story'>
		{{> story/content }}
		</div>
		{{> story/outro }}
	</div>
	
	<script src='assets/pixi.js'></script>
	<script src='bundle.js?v={{timestamp}}'></script>
	{{!-- // <script src='https://pudding.cool/assets/scripts/pudding-footer.js' async></script> --}}
	{{!-- <script src='assets/footer.js'></script>	--}}
</body>
</html>
