<!doctype html>
<html lang='en' data-version='{{timestamp}}' class=''>
<head>
	{{> base/meta}}
	
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->
	

	<!-- smoosh -->
	{{> base/font-subset}}
	
	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{!-- {{> base/analytics }} --}}
</head>

<body class='tk-mercury tk-mercury-subset'>
	{{!-- <video src='assets/test2.mp4' preload style='width: auto;'></video>
	<canvas id="canvas-test" width="480" height="408"></canvas> --}}
	{{> base/header }}

	<div class='container'>
		<div class='story'>
		{{> story/content }}
		</div>
		{{> story/outro }}
		<footer>
			{{!-- {{> base/share }}
			{{> base/recirc }}
			{{> base/newsletter }}
			{{> base/company }} --}}
		</footer>

	</div>
	
	<script src='assets/pixi.js'></script>
	<script src='bundle.js?v={{timestamp}}'></script>
	
	{{!-- {{> base/social }} --}}

</body>
</html>
