<!doctype html>
<html lang='en' data-version='{{timestamp}}'>
<head>
	<meta property="hide-footer-recirc", content="true">
	{{!-- <meta property="hide-footer-newsletter", content="true"> --}}
	{{> base/meta}}
	
	<link rel='stylesheet' href='https://cloud.typography.com/7124072/6455372/css/fonts.css' />
	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->
	
	{{> base/font}}
	
	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}
</head>
<body class='tk-whitney'>
	{{> base/header }}

	<div class='container'>
		<div class='story'>
		{{> story/content }}
		</div>
		{{> story/outro }}
	</div>
	
	<script src='assets/pixi.js'></script>
	<script src='bundle.js?v={{timestamp}}'></script>
	<script src='https://pudding.cool/assets/scripts/pudding-footer.js?version=7'></script>	
</body>
</html>
