.ascent__vis
	max-width 60rem
	margin 0 auto
.ascent__vis .band
	transition opacity 0.2s
	&.is-transparent 
		opacity 0
	path 
		fill none
		stroke $gray
		stroke-opacity 1
	circle 
		opacity 0.5
		fill-opacity 0.5
		stroke-width 1
		stroke white
		fill white
		&:last-child
			opacity 1
			fill $c2
			fill-opacity 1
	text 
		fill $off-white
		font-size 12px
		font-weight bold
	
	tspan
		font-weight normal
		// font-size 10px


.ascent__vis .axis
	display none
	text
		fill $gray-light
	path
		stroke $gray-light
		display none
	line
		stroke $gray-light
		
.ascent__vis .legend__size
	text
		font-size 11px
		text-transform uppercase
		fill $gray-light
	.legendTitle
		font-weight bold
	circle 
		opacity 0.5
		fill-opacity 0.5
		stroke-width 1
		stroke white
		fill white
	