.ascent__vis
	max-width 60rem
	margin 0 auto
.ascent__vis .band
	.line 
		fill none
		stroke $gray
		stroke-opacity 1
	circle 
		fill-opacity 0.25
		fill white
		&:last-child
			fill $c2
			fill-opacity 1
	 text 
		fill $gray-light
		font-size 12px
		font-weight bold

.ascent__vis .axis
	text
		fill $gray-light
	path
		stroke $gray-light
		display none
	line
		stroke $gray-light