.ascent__vis
	max-width 60rem
	margin 0 auto
	padding-bottom 4em
	padding-top 2em
.ascent__vis .band
	transition opacity 0.2s
	&.is-transparent 
		opacity 0
	path 
		fill none
		stroke $gray
		stroke-opacity 1
		pointer-events none
	circle 
		pointer-events none
		opacity 0.5
		fill-opacity 1
		stroke-width 1
		stroke white
		fill white

	text 
		fill $off-white
		font-size 12px
		font-weight bold
		pointer-events none
	
	tspan
		pointer-events none
		font-weight normal
		// font-size 10px
	
	.interaction
		cursor pointer
	
	.band__show
		&.billing-headline circle
			fill $c2	
		&.billing-opener circle
			fill $c3	
		&.show__made circle 
			opacity 1
			fill-opacity 1
	.band__info
		visibility hidden
		
	.billing-opener text 
		fill lighten($c3, 20)
	.billing-headline text 
		fill $c2
		
	.band__show.is-visible
		.band__info
			visibility visible
		circle
			stroke-width 2
			stroke white
			fill-opacity 1
			opacity 1
		


.ascent__vis .axis
	display none
	text
		fill $gray-light
	path
		stroke $gray-light
		display none
	line
		stroke $gray-light
		
.ascent__vis .legend__size
	text
		font-size 11px
		text-transform uppercase
		fill $gray-light
	.legendTitle
		font-weight bold
	circle 
		opacity 0.5
		fill-opacity 0.5
		stroke-width 1
		stroke white
		fill white
	