.intro
	color white
	padding 3em 0
	&__overline 
		text-transform uppercase
		text-align center
		padding 0
		margin 0
		font-weight 700
	&__hed
		text-transform uppercase
		font-size 2.5em
		line-height 1.2
		text-align center
		color $c3-light
		text-shadow -1px -1px 0 #cef, 1px -1px 0 #cef, -1px 1px 0 #cef, 1px 1px 0 #cef
		letter-spacing 0.04em
		font-weight 900
	&__dek
		text-align center
		color lighten($c3-light, 35)
		font-style italic
	&__byline
		// font-weight 700
		text-align center
	&__prose 
		margin 0 auto
		max-width $text-width