.intro
	// padding 0.75rem
	padding 3em 0
	&__overline 
		text-transform uppercase
		text-align center
		padding 0
		margin 0	
	&__hed
		text-transform uppercase
		font-size 2.5em
		line-height 1.2
		text-align center
	&__dek
		text-align center
	&__byline
		text-align center
	&__prose 
		margin 0 auto
		max-width $text-width