.intro
	// color white
	padding 3em 0 1.5em
	+mq('bp-made')
		padding 1.5em 0 1.5em
	&__art
		border 2px solid white
		// box-shadow 0 0 2px $off-black
		border-radius 50%
		// border-radius 3px
		max-width 60%
		margin 0 auto
		margin-bottom 2em
	&__overline 
		text-transform uppercase
		text-align center
		padding 0
		margin 0
	&__hed
		text-transform uppercase
		font-size 2.25em
		line-height 1.2
		text-align center
		+mq('bp-made')
			font-size 2.5em
	&__dek
		text-align center
		// color lighten($c3-light, 35)
	&__byline
		text-align center
	&__prose 
		margin 0 auto
		max-width $text-width