.made
	margin 0
	width 70%

.made__chart
	position relative
	height 100%
	margin 0 auto
	transform translate3d(0px,0px,0px)
	canvas
		position absolute
		top 0
		left 0
		display block
		background #fff
		margin 0 auto
	svg 
		position absolute
		top 0
		left 0
		display block
		margin 0 auto
		font-family Helvetica
		text-transform uppercase
		font-size 12px
		font-weight bold
		fill #666
	
	.ring
		path 
			fill none
			stroke $gray-light
			stroke-dasharray 4 4
		&.is-hidden
			visibility hidden