$band-img-width = 64px

#made
	position relative
	max-width 70rem
	margin 0 auto

.made__prose
	max-width 25rem
	padding 0.75rem
	z-index set-index('top')
	position relative
	+mq('bp-made')
		padding 1.5rem
	.trigger 
		height 100vh
		+mq('bp-made')
			height 80vh
		max-width 25em
		margin 0 auto
		p 
			margin 1.5rem 0
			background-color rgba($c1, 0.8)
			padding 0.5em
			// border-top 2px solid lighten($c1, 10)
			border-radius 3px
			// box-shadow 0 0 1px 1px lighten($c1, 10)
			+mq('bp-made')
				padding 0
				border-radius 0
				background-color transparent
			
		&.lead
			height auto
		&.big
			height auto
		&.remainder
				// margin-top 50vh
		&.band
			height auto
			margin 0
			opacity 0.05
			transition opacity 250ms
			pointer-events none
			clearfix()
			background-color rgba($c1, 0.8)
			padding 2em 0
			&.is-focus
				opacity 1
				pointer-events auto
			+mq('bp-made')
				padding 0
				opacity 0.2
				margin-bottom 3em
				background-color transparent


.band__img 
	width $band-img-width
	height $band-img-width
	border-radius $band-img-width
	background-size cover
	background-position center center
	background-repeat no-repeat
	float left

.band__list
	padding-left $band-img-width * 1.2
	font-size 0.85em
	// text-transform uppercase
	li 
		line-height 1.65
		
.list__name
	font-weight 700

.list__date, .list__venue
	font-size 0.9em
	
.band__list-others
	background-color rgba($c1, 0.8)
	padding 0.5em
	border-radius 3px
	font-size 0.85em
	li
		font-weight 700
		display inline-block
		&:after
			content '\2022'
			display inline-block
			padding 0 2px
		&:last-child:after
			content none




.made__vis
	position absolute
	top 0
	right 0
	height 100vh
	margin 0
	transform translate3d(0px,0px,0px)
	backface-visibility hidden
	z-index set-index('bottom')
	&.is-fixed
		position fixed
		top 0
	&.is-bottom
		position absolute
		top auto
		bottom 0
		
	
.made__chart
	position relative
	margin 0 auto
	top 50%
	transform translateY(-50%)
	canvas
		position absolute
		top 0
		left 0
		display block
		// background #fff
		margin 0 auto
	svg 
		position absolute
		top 0
		left 0
		display block
		margin 0 auto
		font-family Helvetica
		text-transform uppercase
		font-size 12px
		font-weight bold
		fill lighten($c1, 30)
		
	
	.ring
		opacity 1
		transition opacity 500ms ease-in-out
		path 
			fill none
			stroke lighten($c1, 30)
			
			stroke-dasharray 4 4
		&.is-hidden
			opacity 0

.btn__audio
	cursor pointer
	opacity 0.6
	display inline-block
	vertical-align middle
	// transform translateY(-2px)
	margin-left 0.5em
	transition opacity 0.25s
	&:hover 
		opacity 1
	
	svg 
		fill white
		height 12px
		width 15px
		
	&.is-playing
		svg
			fill $c2
		