$trigger-width = 20em

#made
	position relative
	// display none
.made__prose
	// width 100%
	width 35%
	position absolute
	top 0
	right 0
	padding 1rem
	.trigger 
		height 80vh
		max-width 25em
		margin 0 auto
		margin-bottom 1em
		p 
			margin 0
		&.lead
			height auto
		&.big
			height auto
		&.band
			height auto
			margin-bottom 3em
			opacity 0.2
			transition opacity 250ms
			clearfix()
		&.band:last-child
			margin-bottom 50vh
		&.is-focus
			opacity 1

$band-img-width = 64px
.band__img 
	width $band-img-width
	float left

.band__list
	padding-left $band-img-width * 1.1
	font-size 0.8em
	text-transform uppercase
	li 
		line-height 1.65
		
.list__name
	font-weight 700

.list__date, .list__venue
	font-size 0.9em
	
.made__vis
	position absolute
	left 0
	top 0
	// width 100%
	width 65%
	height 100vh
	margin 0
	transform translate3d(0px,0px,0px)
	z-index -1
	&.is-fixed
		position fixed
		top 0
		left 0
	&.is-bottom
		position absolute
		top auto
		bottom 0
		
	
.made__chart
	position relative
	margin 0 auto
	top 50%
	transform translateY(-50%)
	canvas
		position absolute
		top 0
		left 0
		display block
		// background #fff
		margin 0 auto
	svg 
		position absolute
		top 0
		left 0
		display block
		margin 0 auto
		font-family Helvetica
		text-transform uppercase
		font-size 12px
		font-weight bold
		fill lighten($c1, 30)
		
	
	.ring
		opacity 1
		transition opacity 500ms ease-in-out
		path 
			fill none
			stroke lighten($c1, 30)
			
			stroke-dasharray 4 4
		&.is-hidden
			opacity 0