$search-size = 10px
$popup-width = 360px

#search
	background-color $c1
	color $c2
	padding-top 3rem
	position relative
	padding-bottom 1em
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	+mq('bp-made')
		padding-bottom 13rem

.search__graphic 
	position relative
	min-height 320px

.search__vis
	transform translate3d(0px,0px,0px)
	top 0
	left 0
	clearfix()
	position relative
	padding 0.5rem
	cursor pointer
	position relative
	padding-top 84px
	pointer-events auto
	// font-family Helvetica
	&.is-disabled
		pointer-events none
	.band
		color lighten($c1, 60)
		line-height 1.5
		font-size $search-size
		margin 0
		display inline-block
		float left
		opacity 1
		// padding 0 0.1rem
		&.is-selected 
			opacity 1
			background-color $off-white
			color $c1
			&:after 
				background-color $c1
				opacity 1
		&.is-not-venue
			opacity 0.2
		&.is-venue
			opacity 1
			color white
			&:after 
				background-color $c1
				opacity 1
		&:hover
			opacity 1
			background-color $off-white
			color $c1
			&:after
				opacity 1
				background-color $c1
				color $c1
		&:after
			content '\2022'
			display inline-block
			text-align center
			width 1em
			color lighten($c1, 10)
	.alphabet
		display block
		clear both
		color $primary
		font-weight bold
		text-transform uppercase
		&.is-venue
			opacity 1
			color $primary
			&:after 
				background-color $c1
				opacity 0.2
					
.search__find
	opacity 1
	position absolute
	left 0
	top 0
	width 100%
	z-index set-index('top')
	transform translate3d(0px,0px,0px)
	backface-visibility hidden
	transition opacity 0.25s
	&.is-fixed
		position fixed
	
	.find__container
		background-color $c1
		padding 0.75rem 0
		position relative
		&:after
			content ''
			display block
			width 100%
			position absolute
			left 0
			bottom -2rem
			height 2.5rem
			background-image linear-gradient(to top,rgba($c1,0),$c1 80%)
		
	.find__input 
		display block
		max-width 20rem
		margin 0 auto
		border-bottom 1px solid white
		position relative
		input 
			background none
			width 100%
			border none
			outline none
			font-size 1em
			color white

	.find__icon
		position absolute
		right 0
		bottom 0
		display block
		vertical-align middle
		margin 0
		pointer-events none
		opacity 0.7
		transition opacity 0.25s
		width 20px
		height 26px
		&:hover 
			opacity 1
		svg 
			width 20px
			height 26px
			fill white
			
	.find__results
		display none
		max-width 20rem
		margin 1em auto
		background-color rgba($c1, 0.8)
		border-radius 3px
		border 1px solid white
		position relative
		z-index set-index('overlay')
		&.is-visible
			display block
		li 
			cursor pointer
			font-size 0.9em
			padding 0.35em 0.5em
			line-height 1.4
			width 100%
			&.result-band
				color $primary
				&:hover 
					color $c1
					background-color $primary
			&.result-venue
				color $secondary-light
				&:hover
					color $c1
					background-color $secondary-light
			

	
	
.popup
	display none
	font-size 11px
	width $popup-width
	z-index set-index('top')
	background-color $off-white
	color $c1
	border-radius 3px
	box-shadow 0 0 3px white
	padding 10px
	line-height 1.5
	pointer-events none
	position relative
	.popup__name
		font-weight bold
		font-size 13px
		margin 0
		margin-bottom 0.5em
	.left
		width 60%
		float left
		padding-right 10px
	.right
		width 40%
		padding-left 10px
		float left
		border-left 1px solid $primary

.search__popup
	display none
	position fixed 
	top 0 
	left 0
	&.is-visible
		display block

.find__popup
	margin 0 auto
	margin-top 4em
	pointer-events auto
	cursor pointer
	&.is-visible
		display block
.popup__info
	clearfix()	
	p 
		margin 0
	
	.popup__recent 
		// display inline-block
		// text-align center
		font-weight bold
		margin-bottom 0.5em
	.popup__shows
		font-size 10px
		span 
			font-weight bold
		li 
			border-bottom 1px dashed $gray-light
			line-height 1.5
			margin-bottom 0.25em
	.popup__text span 
		font-weight bold
		
.popup__vis
	.axis path, .tick line
		stroke #aaa
	circle 
		fill $c1
		fill-opacity 0.25
		stroke $c1
		stroke-opacity 0.5
	.tick:nth-child(n+3):nth-child(-n + 5)
		display none


.popup__close
	position absolute
	top 0
	right 0
	padding 0.5em
	opacity 0.7
	&:hover
		opacity 1
		transition opacity 250ms
		
	svg 
		fill $c1
		width 16px
		height 16px

.search__venue 
	position fixed
	bottom 1em
	right 1em
	z-index set-index('overlay')
	background-color $secondary-light
	color $c1
	border-radius 3px
	box-shadow 0 0 3px $c1
	cursor pointer
	display none
	&.is-visible
		display block
	svg 
		width 12px
		height 16px
		fill $c1
		position absolute
		top 0.25rem
		right 0.25rem
		pointer-events none
	ul 
		padding 0.25rem 0.5rem
		padding-right 36px
	li 
		font-size 0.9em
		line-height 1.6
		&.venue__info-name
			font-weight bold
		&.venue__info-capacity
			text-transform uppercase
			font-size 0.75em
		