.tk-font-here
	font-family $sans
	
body
	background $c1
	color $c6
	line-height 1.8
	font-size 17px
	font-family Helvetica
a 
	color black
p 
	margin 1em 0

.story
	p
		max-width $text-width
		margin 1em auto
		padding 0 0.75rem
	