fontify($whitney, $whitney-hash, 400, $sans, 400, 0.04em)
fontify($mercury, $mercury-hash, 400, $serif, 400, 0.04em)

body
	background $c1
	color $c2
	line-height 1.7
	font-size 15px
	overflow-x hidden
	-webkit-tap-highlight-color rgba(0,0,0,0)
	+mq('bp-2')
		font-size 16px
a 
	text-decoration none
	color $c2
	border-bottom 2px solid currentColor
	transition 150ms color ease-in-out
	&:hover
		color lighten($c1, 55)
p 
	margin 1.5rem 0

.section__header
	max-width 40rem
	margin 0 auto
	padding 0 0.75rem

.header__hed
	text-align center
	text-transform uppercase
	font-size 1.5em
	font-weight 400
	line-height 1.4
	// color white

.bridge
	max-width 40rem
	margin 0 auto
	padding 1em 0.75rem
	padding-bottom 0

.outro
	margin 2em auto
	padding 1em 0.75rem 2em 0.7rem
	max-width 40rem
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	p
		font-size 0.8em
		span 
			font-weight 700
		&:first-child 
			padding-top 0.5em
			border-top 2px solid $gray-light

	a.songkick
		border none
		display block
		// text-align center
	svg 
		height 45px
		width 125px

.heavy
	font-weight 700

.opener 
	color $secondary
	font-weight 700

.headliner 
	color $primary
	font-weight 700
	
.hi-white
	font-weight 700
	color $primary

.hi-primary
	font-weight 700
	color $primary

.hi-secondary
	font-weight 700
	color $secondary-light

.weight-500
	font-weight 500