.tk-font-here
	font-family $sans
	
body
	background white
	color $off-black
	line-height 2
	font-size 17px
a 
	color black
p 
	margin 1em 0

.story
	p
		max-width $text-width
		margin 1em auto
		padding 0 0.75rem
	