{{> story/graphic-made }}

<div class='section__header tk-libre-franklin-900'>
	<h2 class='header__hed'>How long it takes to make it</h2>
</div>

<div class='bridge'>
	{{#each copy.ascent}}
	<p>{{{value}}}</p>
	{{/each}}
</div>

{{> story/graphic-ascent }}

<div class='section__header tk-libre-franklin-900'>
	<h2 class='header__hed'>Everybody else</h2>
</div>

<div class='bridge'>
	{{#each copy.search}}
	<p>{{{value}}}</p>
	{{/each}}
</div>

{{> story/graphic-search }}

