<div class='intro tk-libre-franklin-400'>
	<div class='intro__header'>
		<p class='intro__overline'>The unlikely odds of</p>
		<h1 class='intro__hed tk-libre-franklin-900'>
			Making it big
		</h1>
		<p class='intro__dek'>Sifting through three years and over 80,000 concerts in NYC</p>
		<p class='intro__byline'>By <a href='https://twitter.com/dkopf' target="_blank">Dan Kopf</a> &amp; <a href='https://twitter.com/codenberg' target="_blank">Russell Goldenberg</a></p>
	</div>
	<div class='intro__prose'>
		{{#each copy.intro}}
			<p>{{value}}</p>
		{{/each}}
	</div>
</div>