<div class='intro'>
	<div class='intro__header'>
		<img class='intro__art' src='assets/art.jpg'>
		<p class='intro__overline tk-mercury'>The unlikely odds of</p>
		<h1 class='intro__hed tk-mercury'>
			<span class='weight-500'>Making it big</span>
		</h1>
		<p class='intro__dek'><em>What three years and 75,000 shows in New York tell us about the chance your favorite band will succeed.</em></p>
		<p class='intro__byline'>By <a href='https://twitter.com/codenberg' target="_blank">Russell Goldenberg</a> &amp; <a href='https://twitter.com/dkopf' target="_blank">Dan Kopf</a></p>
	</div>
	<div class='intro__prose'>
		{{#each copy.intro}}
			<p>{{value}}</p>
		{{/each}}
	</div>
</div>