<section class='outro'>
	<p class='methodology'><span class='lite'>Methodology:</span> We decided to use venue size as a proxy for success since most revenue comes from shows. The tiers of success (small, medium, and big) are manual thresholds that seemed appropriate after analyzing the data.
	</p>
	<p>
		
	</p>
	<p class='credits'>
		Concert venue data from <a href='http://songkick.com'>Songkick</a>. Band images and samples from the <a href='http://spotify.com'>Spotify</a> API. Get in touch: russell@polygraph.cool or <a href='https://twitter.com/codenberg' target='_blank'>@codenberg</a>.
	</p>
</section>