<section class='outro'>
	<p class='methodology'><span class='lite'>Methodology:</span> We decided to use venue size as a proxy for success since most revenue comes from shows. The tiers of success (small, medium, and big) are manual thresholds that seemed appropriate after analyzing the data. Get in touch: russell@pudding.cool or <a href='https://twitter.com/codenberg' target='_blank'>@codenberg</a>.
	</p>
	<p>
		
	</p>
	<p class='credits'>
		Band images and samples from the <a href='http://spotify.com'>Spotify</a> API.
	</p>
	<p class='credits'>
		<a class='songkick' href='http://songkick.com'>@@include('misc/songkick.svg')</a>
	</p>
</section>