<section class='outro'>
	<p class='methodology'><span class='lite'>Methodology:</span> More about this tk.
	</p>
	<p>
		
	</p>
	<p class='credits'>
		Concert venue data from <a href='http://songkick.com'>Songkick</a>. Artist samples and images from the <a href='http://spotify.com'>Spotify</a> API. Get in touch: russell@polygraph.cool or <a href='https://twitter.com/codenberg' target='_blank'>@codenberg</a>.
	</p>
</section>